@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
/* To use for development, delete when finished*/
* {
  /*border: 1px solid white;*/
  margin: 0 auto;
  /*background-color: lightgray;*/
}

/* GENERAL */

body {
  font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;
  color: rgb(7, 74, 115);
  /*#495C71*/
  background-color: #fafafa; /*#BCDFEF;*?
  /* #bdc3c7 */
  line-height: 1.65;
}

#about, #whatIdo, #online {
  text-align: center;
  max-width: 1000px;
  padding-bottom: 5px;
  width: 90%;
  display: block;
  /*border: black solid 1px;*/
}

#heading {
  text-align: center;
  max-width: 1000px;
  padding-bottom: 5px;
  /*width: 90%;*/
  display: block;
}

/*#about {
  text-align: center;
}

*/
h1 {
  font-size: 2.5em;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}

h2 {
  font-size: 1.75em;
}

#heading h2 {
  font-size: 2em;
  color: #fff;
}


#about h3 {
  font-size: 1.25em;
  margin-top: 15px;
  margin-bottom: 0px;
}

p {
  font-size: 1em;
}

#about p {
  margin-top: 0px;
}


.top-border {
  border-top: 2px solid #dfe2e6;
}

#head-img img {
  /*margin-top: 20px;*/
  width: 100px;
  /*border: solid 1px #495C71;*/
  box-shadow: 0 8px 6px -6px black;
}


/* Background heading image
#ffd400
*/

.header {
  /*position: absolute;*/
  padding-top: 100px;
  /*width: 100%;*/
  /*height: 100%;*/
 /* background: linear-gradient(#000, transparent 90%),
        linear-gradient(0deg, #fff, transparent),
        #ffd400 url('../img/lyallbay.jpg') no-repeat center;*/
  background-image: url("../img/lyallbay.jpg");
  background-size: cover;
  background-repeat: no-repeat center;
}


/* Page navigation stylying */

#menu {
  /*background: rgb(7, 74, 115);*/
  height: 40px;
  padding: 0 5px 0;
  text-align: center;
}

#menu ul {
  list-style: none;

}

#menu ul li {
  display: inline-block;
  width: 90px;
  text-align: center;
  border-radius: 5px;
  /*border: #fff solid 1px;*/
  background-color:rgba(255, 255, 255, 0.2)
}

#menu ul li a {
  color: #fff;
  width: 100%;
  line-height: 40px;
  text-decoration: none;
}

/*rgb(188, 223, 239)*/

#menu ul li.selected {
  /*background: #f0f0f0;*/
  border: solid 1px rgb(7, 74, 115);
  /*border-bottom: solid 1px rgb(7, 74, 115);*/

}

/*#menu ul li.selected a {
  color: rgb(7, 74, 115);
}*/

#menu a:hover  {
  color: #000; /*rgb(5, 161, 232);*/
}

/*select {
  width: 94%;
  margin: 11px 0 11px 2%;
  float: left;
}*/



/* SOCIAL MEDIA AND PROF SITE LINKS*/
/* LINKS SECTION (instead of nav) */

/*#links-content {
  /*max-width: 1000px;*/
  /*border-top: solid 1px #495C71;*/
  /*width: 100%;*/
  text-align:center;
  background-color: rgb(7, 74, 115);
}*/


/* LINKS CONTENT SECTION- layout / structure */
/*#about ul {
  width: 200px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

#about li {
  display: inline-block;
  margin: 10px 10px;
  min-width: 95px;
}
*/
/*/* PHASES SECTION - layout */

#online {
  /*text-align: left;*/
  max-width: 1000px;
  padding-bottom: 5px;
  width: 90%;
  display: block;
}

#online ul {
  display: block;
  width: 225px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

#online li {
  display: left;
  margin: 5px 5px;
  min-width: 95px;
}

#online p {
  margin: 0 10% 20px 10%;
  font-size: 1em;
}




#footer {
  text-align: center;
}

/* LINKS */
a {
  text-decoration: none;
}

/* LINK COLOURS */

/*  links */
a {
  color: #5A5B5C;
  /*rgb(39, 114, 148);*/
  /*color: rgb(80, 98, 108);*/
}

/*  link - visisted*/
a:visited {

}

/* selected hover  link*/
a.selected, a:hover  {
  color: rgb(5, 161, 232);
}

/*rgb(84, 138, 171)*/


#links-content a {
  font-weight: normal;
  padding: 15px 10px;
  color: rgb(188, 223, 239);
}


/* link - visisted */
#links-content a:visited {
  /*color: rgb(80, 98, 108);*/
}

/* selected hover  link */
#links-content a:hover  {
  color: rgb(5, 161, 232);
}









