/*media query breakpoints*/

/* Media Queries for mobile dropdown menu */

@media (min-width: 320px) and (max-width: 568px){
  #menu ul {
    display: none; /* hide the normal menu */
  }
  h1 {
    font-size: 1.25em;
  }
}

@media (min-width: 569px){
  #menu select {
    display: none;
  }

}



/* Other Media Queries */

@media screen and (min-width: 400px) {
  #links-content ul {
    width: 300px;
  }

}

@media screen and (min-width: 600px) {
  #links-content ul {
    width: 100%;
  }

  .phases ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0 auto;
  }

  .phases li {
    display: inline-block;
    margin: 10px 10px;
  }

}